<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/geometri']);">Go to Geometri</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/observable']);">Go to Observables</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/jokes']);">Go to Daily Joke</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/elbiler']);">Go to Electric Cars</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/fossilbiler']);">Go to Fossil Fuel Cars</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/pipes']);">Go to Pipes Showcase</button>
  </div>
</div>

<router-outlet></router-outlet>
<router-outlet name="cardetails"></router-outlet>