<!-- <div style="display: flex">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-primary">Primary</button>
</div> -->
<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div>
    <button type="button" class="btn btn-primary" (click)="selectionMade(1)">Go to Geometri</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="selectionMade(3)">Go to Observables</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="selectionMade(4)">Go to Daily Joke</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="selectionMade(5)">Go to Cars</button>
  </div>
</div>

<div [ngSwitch]="selectedPage">
  <div *ngSwitchCase="1">
    <app-firkanter-display></app-firkanter-display>
  </div>
  <div *ngSwitchCase="3">
    <app-observable-environment></app-observable-environment>
  </div>
  <div *ngSwitchCase="4">
   <app-dagens-joke></app-dagens-joke>
  </div>
  <div *ngSwitchCase="5">
    <app-cars-listing></app-cars-listing>
   </div>
</div>

